<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
            <div class="row ms-2">
                <ul>
                    <li>
                        <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                            <img src="/assets/images/ludo-supreme1.webp" class="user-image p-1" >
                            User Name
                            <mat-icon class="user-image-icon ms-1"></mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>exit-to-app</mat-icon>
                                Logout
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div> 
    </mat-toolbar-row>
</mat-toolbar>