.page__box{
    min-height: 160px;
    background-color: #ffe800;
    margin: -5px -0.75rem;
    font-size:36px;
    color:#4611a7;
}
.page__content{
    height: auto;
    border-radius: 10px;
    margin-top: -4rem;
    background: white;
    color:black;
}
/* .page__content-data{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
} */
