<div class="container-fluid">
    <div class="page__box p-3">Our Games</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data">
            Home content here.
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        </div>
    </div>
</div>