<div class="container-fluid">
    <div class="page__box p-3">Home</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data">

            <div class="row mt-5">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" style="background: #ffe800;color: #4611a7;">
                            <h4 class="card-title">Add Reviews Data</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">

                                      <form (ngSubmit)="addReviews()">
                                        <div class="mb-3 d-flex">
                                          <input type="file" class="" name="image" (change)="imageUpload($event)">
                                        </div>
                                        <div class="mb-3">
                                          <label for="exampleInputEmail1" class="form-label">Name</label>
                                          <input type="text" class="form-control" name="name" [(ngModel)]="reviewsData.name">
                                        </div>
                                        <div class="mb-3">
                                          <label for="exampleInputEmail1" class="form-label">Description</label>
                                          <textarea type="text" class="form-control" name="description" [(ngModel)]="reviewsData.description"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                      </form>
                                    </div>
                                 </div>     
                            </form>
                        </div>
                    </div>
                </div>


            <div class="row mt-5">
                <div class="">
                    <div class="card">
                        <div class="card-header" style="background: #ffe800;color: #4611a7;">
                            <h4 class="card-title">View Reviews Data</h4>
                        </div>
                        <div class="table-responsive">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Id</th>
                                    <th>Review Image</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let obj of reviewsData">
                                    <td scope="row">{{obj.id}}</td>
                                    <td><img [src]="path + obj.image" height="50"></td>
                                    <td>{{obj.name}}</td>
                                    <td>{{obj.description}}</td>
                                    <td><button class="btn btn-danger" (click)="deleteReviews(obj.id)">Delete</button></td>
                                    <td><button class="btn btn-primary" routerLink="/editReviews/{{obj.id}}">Edit</button></td>
                                  </tr>
                                </tbody>
                              </table>
                    </div>
                </div>
              </div>
</div>
</div>
</div></div>