<div class="container-fluid">
    <div class="page__box p-3">Home</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data">

          <div class="row mt-5">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" style="background: #ffe800;color: #4611a7;">
                        <h4 class="card-title">Add Our Games Data</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">

                                  <form (ngSubmit)="addOurGames()">
                                    <div class="mb-3 d-flex">
                                      <input type="file" class="" name="gameImage" (change)="imageUpload($event)">
                                    </div>
                                    <div class="mb-3">
                                      <label for="exampleInputEmail1" class="form-label">Name</label>
                                      <input type="text" class="form-control" name="name" [(ngModel)]="ourGamesData.name">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                  </form>
                                </div>
                             </div>     
                        </form>
                    </div>
                </div>
            </div>


            <div class="row mt-5">
                <div class="">
                    <div class="card">
                        <div class="card-header" style="background: #ffe800;color: #4611a7;">
                            <h4 class="card-title">View Games</h4>
                        </div>
                        <div class="table-responsive">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Game Image</th>
                                    <th scope="col">Game Name</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let obj of ourGamesData">
                                    <th scope="row">{{obj.id}}</th>
                                    <td><img [src]="path + obj.gameImage" height="40">
                                    <td>{{obj.name}}</td>
                                    <td><button class="btn btn-danger" (click)="deleteOurGames(obj.id)">Delete</button></td>
                                    <td><button class="btn btn-primary" routerLink="/ourgames2/{{obj.id}}">Edit</button></td>
                                  </tr>
                                </tbody>
                              </table>
                    </div>
                </div>
              </div>

</div>
</div>
</div></div>