<div class="container-fluid">
    <div class="page__box p-3">About Us</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data">

          <div class="row mt-5">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" style="background: #ffe800;color: #4611a7;">
                        <h4 class="card-title">Add Video Data</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">

                                  <form (ngSubmit)="addVideo()">
                                    <div class="mb-3 d-flex">
                                      <input type="file" class="" name="image" (change)="imageUpload($event)">
                                    </div>
                                  <button type="submit" class="btn btn-primary">Add</button>
                                  </form>
                                </div>
                             </div>     
                        </form>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="">
                    <div class="card">
                        <div class="card-header" style="background: #ffe800;color: #4611a7;">
                            <h4 class="card-title">View Video Data</h4>
                        </div>
                        <div class="table-responsive">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Id</th>
                                    <th>Video</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let obj of videoData">
                                    <td scope="row">{{obj.id}}</td>
                                    <td><img [src]="path + obj.video" height="50"></td>
                                    
                                    <td><button class="btn btn-danger" (click)="deleteVideo(obj.id)">Delete</button></td>
                                    <td><button class="btn btn-primary" routerLink="/editvideo/{{obj.id}}">Edit</button></td>
                                  </tr>
                                </tbody>
                              </table>
                    </div>
                </div>
              </div></div>